@media only screen and (min-width:320px) {
.login {
    background: #C73240;
}
.form {
    background: rgb(255, 255, 255);
    margin: 15%;
    padding: 50px 20px;
}
.form-input {
    margin-bottom: 20px;
}
.checkbox a {
    float: right;
    color: #333;
}
.checkbox input {
    margin-top: 0px;
}
.submit {
    width: 100%;
} 
}
@media only screen and (min-width:992px) {
.login {
    background: #F5F2F4;
}
.form {
    background: #C73240;
    margin: 15%;
    padding: 50px 20px;
}
}
.wrap {
    background: #C73240;
}
.logo {
    color: white;
    text-align: center;
    margin-top: 15%;
}
.logo p {
    font-size: 30px;
}
.logo h1 {
    font-size: 40px;
}
